.green, .no-bg {
  background: rgba(234,207,120,255) !important;
  color: rgba(80,76,77,255) !important;
  font-weight: 600 !important;
  border: 1px solid white !important;
  &:hover {
    background: rgba(215,187,103,255) !important;
  }
}

.hide2 {
  display: none !important;
}