.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid rgb(255, 255, 255);
    background:rgba(247,246,190,1);
    margin-top: 5px;
    border-radius: 20px;
    height: 150px;
    .logo {
        display: flex;
        align-items: center;
        width: 124px;
        img{
            width: 100%;
            margin-right: 10px;
        }
        .app-name{
            font-size: 30px;
            font-weight: bold;
            padding-left: 4px;
            color: rgba(80,76,77,255);
        }
    }

    .action-btn {
        display: flex;
        align-items: center;
        .icon-block{
            font-size: 40px;
            padding: 20px;
            color: rgba(80,76,77,255);
            cursor: pointer;
        }

        .sign-out {
            font-size: 40px;
            padding: 20px;
            color: rgba(80,76,77,255);
            &:hover {
                color: rgb(237, 100, 85);
            }
            cursor: pointer;
        }

    }
}