.home-page {
    display: flex;
    flex-direction: column;
    width: 199.5vh;
    height: 99.9vh;
    background-size: 100% 100%;
    overflow-x: hidden !important;
    background-image: url("../../../login.jpg") !important;
    .body{
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            background:rgba(235,169,155,0.7);
            border-radius: 30px;
            padding: 50px 50px 50px 50px;
            border: 5px solid rgb(254, 254, 254);
            margin-top: 190px;
            max-width: 500px;
            h2{
                font-size: 42px;
                font-weight: 500;
                margin: 0;
            }
            p{
                font-size: 18px;
                font-weight: 300;
            }

            .action-btn{
                margin-top: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .btn{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    padding: 15px;
                    border-radius: 7px;
                    border: none;
                    outline: none;
                    background: none;
                    color: rgb(4, 107, 75);
                    text-decoration: none;
                    .icon-block {
                        padding-right: 10px;
                    }
                    &:hover {
                        background:rgb(189, 231, 218);
                    }
                }

                .input-block {
                    margin-left:20px;
                    display: flex;
                    flex: 1;
                    .input-section {
                        position: relative;
                        margin-right: 10px;
                        .icon-block {
                            position: absolute;
                            top: 50%;
                            transform: translate(10px, -50%);
                            color: rgb(4, 107, 75);
                        }
    
                        input {
                            font-size: 16px;
                            height: 48px;
                            border: 1px solid rgb(4, 107, 75);
                            border-radius: 7px;
                            padding-left: 35px;
                            box-sizing: border-box;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}